<!-- when wishlist is empty -->
<ng-container *ngIf="wishList.length==0">
    <h5 class="text-center mt-5" style="color: red;">Your Wishlist is Empty</h5>

</ng-container>

<section class="py-5">
    <div class="container-fluid px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let products of wishList " class="col mb-5" >
                <div class="card h-100 p-3 ">
                    <!-- Product image-->
                    <img style="height: 300px;" class="card-img-top" [src]="products.image" alt="No image" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{products.title}}</h5>
                            <!-- Product price-->
                            ${{products.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center row">
                            <div class="col-6">
                                <button (click)="removeItem(products)"  style="float:left ;" class="btn btn-outline-dark mt-auto"> <i class="fa-solid fa-trash"></i> </button>
                            </div>
                            <div class="col-6">
                                <button (click)="addToCart(products)" style="float:right ;" class="btn btn-outline-dark mt-auto">Add to Cart</button>
                            </div>

                            
                        </div>
                        
                            
                        

                       

                    </div>
                </div>
            </div>
           
          
           
          
           
        </div>
    </div>
</section>